%h1.text-center Sign Up
.col-md-4.col-md-offset-4
  = form_for @user, html: { class: "form-horizontal well" } do  |f|
    .form-group
      = f.label :email, class: "control-label col-md-4"
      .col-md-8
        = f.email_field :email, class: "form-control" 
    .form-group
      = f.label :username, class: "control-label col-md-4"
      .col-md-8
        = f.text_field :username, class: "form-control"
    .form-group
      = f.label :fname, "First Name", class: "control-label col-md-4"
      .col-md-8
        = f.text_field :fname, class: "form-control"
    .form-group
      = f.label :lname, "Last Name", class: "control-label col-md-4"
      .col-md-8
        = f.text_field :lname, class: "form-control"
    .form-group
      = f.label :password, class: "control-label col-md-4"
      .col-md-8
        = f.password_field :password, class: "form-control" 
    .form-group
      = f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4", style: "margin-top: -8px;"
      .col-md-8
        = f.password_field :password_confirmation, class: "form-control" 

    .form-group-submit.form-group
      .col-md-4.col-md-offset-4
        = submit_tag "Sign Up", class: "btn btn-primary"
