%header 
  = link_to(root_url) do
    = image_tag "logo1.png", id: "logo"
    %h1#headlink iscover

- if logged_in?
  .container-main.container#navbar-container
    %nav.navbar.navbar-default{role: 'navigation'}
      %ul.nav.nav-tabs
        - home = 'active' if request.url == root_url && request.get?
        - profile_active = 'active' if request.url == profiles_url && request.get?
        %li{class: home }
          = link_to "Home", root_url
        %li{class: profile_active } 
          = link_to "Profile", profiles_path
        %li
          = link_to "Logout", logout_path
